from flask import Flask, redirect, request
import os
 
app = Flask(__name__)
 
# Read the STATIC_CONTENT_URL from environment variables
static_content_url = os.getenv("BLOB_CONTAINER_NAME")
 
@app.route('/')
def home():
    return "Welcome to the Azure Web App! Access static files via /static/index.html"
 
@app.route('/static/path:index.html')
def serve_static(index.html):
    # Construct the file URL in Blob Storage
    file_url = f"{BLOB_CONTAINER_NAME}{index.html}"
    # Redirect the request to the file in Blob Storage
    return redirect(file_url)
 
if __name__ == '__main__':
    # Run the app on the specified port or default to 5000
    port = int(os.environ.get("PORT", 5000))
    app.run(host='0.0.0.0', port=port)
